<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.metrowerks.stationery</string>
	<key>CFBundleName</key>
	<string>Classic Toolbox Debug</string>
	<key>CFBundleGetInfoString</key>
	<string>Classic Toolbox Debug version 1.0, Copyright © 2002-2003 by Metrowerks Corporation.  All rights reserved.</string>
	<key>CFBundleShortVersionString</key>
	<string>Classic Toolbox Debug version 1.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>LSPrefersCarbon</key>
	<true/>
</dict>
</plist>
